@inherits ListSearchBase

@if (Elements != null && Elements.Any())
{
    <div class="@DivClass">

        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="control-label">@Label</label>
        }
        <div class="input-group">

            <select @bind="ElementId" class="form-select" id="monthSelectedId">                
                @foreach (OptionElement element in Elements)
                {
                    if (ElementId == element.Value)
                    {
                        <option value="@element.Value" selected> @element.Name</option>
                    }
                    else
                    {
                        <option value="@element.Value"> @element.Name</option>
                    }

                }
            </select>
        </div>
    </div>
}