@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components;
@inherits ModalCommonBase
@namespace BlazorCommon.Modal

@if (!string.IsNullOrEmpty(Text) || ModalType == ModalType.GetSingleText)
{
    <div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-2 border border-dark">
                <div class="">
                    <h4 style="margin-top:35px" class="text-center">@Title</h4>
                    <p class="text-center"><i>@SubTitle</i></p>                    
                </div>
                <div class="modal-body">                   
                    @((MarkupString)Body)
                </div>
                <div class="modal-footer">
                    @if (ModalType == ModalType.AcceptDecline || ModalType == ModalType.GetSingleText)
                    {
                        <div class="col-3">
                            <button type="button" class="btn btn-success form-control" data-dismiss="modal" @onclick="() => Confirm()">@BlazorDic.Confirm</button>
                        </div>

                    }
                    <div class="col-3">
                        <button type="button" class="btn btn-danger form-control" data-dismiss="modal" @onclick="() => Close(false)">@BlazorDic.Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


