@inherits SearchBarBase

<div class="row">
@if (GridSearches != null)
{
    
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        @foreach (GridSearch gs in GridSearches)
                        {
                            <th>
                                <label style="background-color:@(Theme.HeaderColor); color: @(Theme.HeaderFontColor)">
                                    @($"{gs.ColumnName}: {GetLabelString(gs)}")
                                    <span Title="@BlazorDic.RemoveColumnFilter" @onclick="()=>RemoveFilter(gs)">&#10062;</span>
                                </label>
                            </th>
                        }

                    </tr>
                </thead>
            </table>
        </div>
     
}
        @if (EnableButtonSearch)
        {
            <div class="col-2">
                <button class="btn" @onclick="Search" style="background-color:@(Theme.HeaderColor); color: @(Theme.HeaderFontColor)" disabled="@(!EnableButtonSearch)">@BlazorDic.Search</button>
            </div>
        }
    </div>
@if (EnableButtonSearch)
{
 <p class="text-danger text-center">@BlazorDic.SearchAction</p>
}
 